<div class="container">
  <footer class="footer">
    <small>
    Copyright &copy; <a href="https://github.com/arbabali1441">The Complete Ruby on Rails Developer</a>
    by <a href="https://github.com/arbabali1441/">Arbab Ali</a>
    </small>
    <nav>
      <ul>
      </ul>
    </nav>
  </footer>
</div>